<!DOCTYPE html>
<html>
    <head>
        <title>MCTS Visualization</title>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <h1>MCTS Visualization</h1>
        <div id="container">
            <div id="mcts-tree"></div>
            <div id="board" class="board"></div>
        </div>
        <script type="module" src="/static/js/main.js"></script>
    </body>
</html>
